<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<div>
<%= @repo%>
  <% if @error %>
    <p><%= @error %></p>
  <% elsif @repo %>
  <% @repo.each do |repo| %>
    <ul>
    <li>Name: <%=  @repo['name'] %><li>
    <li>URL: <%= link_to('https://github.com/dtrupenn/Tetris', "https://github.com/dtrupenn/Tetris") %><li>
    <li>Description: <%=  @repo['description'] %><li>
    </ul>
  <% end %>
  <% end %> %>
</div>